<!--
    This file is part of Plop.

    Plop is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Plop is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Plop.  If not, see <http://www.gnu.org/licenses/>.
-->
<logging xmlns="http://www.erebot.net/xmlns/logging">
    <loggers>
        <logger name="root">
            <level>DEBUG</level>
            <handlers>
                <handler>stderr</handler>
            </handlers>
        </logger>
    </loggers>

    <handlers>
        <handler name="stderr">
            <level>ERROR</level>
            <formatter>detailed</formatter>
            <class>Plop_Handler_Stream</class>
        </handler>
    </handlers>

    <formatters>
        <formatter name="detailed">
            <format>%(asctime)s - %(message)s</format>
            <datefmt>%H:%M:%S</datefmt>
        </formatter>
    </formatters>
</logging>

